.about__HeaderContainer
{
    margin: 7rem 2rem 3rem;
    padding-bottom: 7rem;
    display : flex;
    align-items : flex-start;
    justify-content: space-between;
}

.about__HeaderTextContainer
{
    width : 50%;
}

.about__SmTxtTag
{
    width: 18%;
    background: hsla(0, 0%, 100%, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.about__SmTxtTag p 
{
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 600;
}

.about__HeaderH3
{
    margin: 1rem 0 2rem;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    text-transform: capitalize;
}

.about__HeaderSmTxt
{
    margin: 1rem 0;
}

.about__HeaderSmTxt p 
{
    font-size: 1.1rem;
    font-weight: 600;
    width: 80%;
}

.about__HeaderBtnContainers
{
    width: 55%;
    margin-top: 2rem;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
    gap : 0.5rem;
}

.about__HeaderPlanBtn
{
    background-color : #ffc107;
    color : #2d3c58;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    outline : none;
}

.about__HeaderPlanBtn a 
{
    font-size: 1.1rem;
    font-weight: 600;
}

.about__HeaderPlanBtn2 a 
{
    text-decoration: underline;
    font-size : 1.1rem;
    font-weight: 600;
    text-underline-offset: 0.4rem;
}

.about__HeaderImgContainer
{
    width: 40%;
}

.about__HeaderImgContainer img 
{
    width: 100%;
    height: 100%;
    border-radius : 1rem;
}
/* css for section 2 of about us page */
.about__Frame2
{
    margin : 5rem 2rem;
    padding : 5rem 1rem;
    display : flex;
    align-items : flex-start;
    justify-content : space-between;
}

.about__SecondBannerImg
{
    width : 60%;
    display : flex;
    align-items : center;
    justify-content : flex-start;
    gap : 1rem;
}

.about__SecondBannerImgOne
{
    width : 55%;
    
}

.about__SecondBannerImgTwo 
{
    width : 30%;
    margin-top : 10rem;
}

.about__SecondBannerImgOne img , 
.about__SecondBannerImgTwo img
{
    border-radius : 0.5rem;
}

.about__SecondBannerTxt
{
    width : 40%;
}

.about__secondBanner__H3
{
    font-size : 2rem;
    font-weight: 600;
    margin-bottom : 1rem;
    color : #2d3c58;
}

.about__secondBanner__SmallTxt
{
    margin-bottom : 1rem;

}

.about__secondBanner__SmallTxt p 
{
    font-size : 1rem;
    letter-spacing : 0.3px;
    line-height : 1.5rem;
    color : #4c5671;
}

.about__secondBanner__Abilities
{
    margin : 2rem 0rem;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : space-between;
    gap : 1rem;
}

.secondBanner__Ability1
{
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
    gap : 2rem;
}

.secondBanner__AbilityImg
{
    padding : 0.5rem 0.5rem;
    border-radius : 0.2rem;
    background-color : #eaf1ff;
    width : 65px;
    height : 65px;
}

.secondBanner__AbilityImg img 
{
    width : 100%;
    height : 100%;
}

.secondBanner__AbilityTxt h4 
{
    font-size : 1.2rem;
    font-weight : bold;
    margin-bottom : 0.5rem;
}

.secondBanner__AbilityTxt p 
{
    color : #4c5671;
}

.about__secondBanner__Btn
{
    padding : 1rem 1.5rem;
    background-color : #ffc107;
    border-radius : 0.2rem;
    transition : all 0.3s ease;
}

.about__secondBanner__Btn a 
{
    color : #2d3c58;
    font-size : 1.1rem;
}

.about__secondBanner__Btn:hover 
{
    background-color: #2d3c58;
}

.about__secondBanner__Btn:hover a 
{
    color : #fff;
}

/*============================== Designing Section 3 =====================================*/
.about__Frame3Main
{
    background-color : #f4f9ff;
}

.about__Frame3
{
    margin : 3rem 0;
    padding : 5rem 2rem;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
}

.about__Frame3TxtContainer
{
    width : 40%;

}

.about__Frame3TxtContainer h3 
{
    font-size : 3rem;
    font-weight : bold;
    line-height : 3.5rem;
    margin-bottom : 2rem;
    color : #2d3c58;
}

.about__Frame3TxtContainer p 
{
    width : 100%;
    color : #2d3c58;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.about__Frame3ImgContainer
{
    width : 60%;
    display : flex;
    flex-direction : row;
    align-items : flex-start;
    justify-content : flex-end;
    gap : 1rem;
}

.about__Frame3ImgContainerOne img 
{
    border-radius : 0.5rem;
}

.about__Frame3ImgContainerTwo 
{
    margin-top : 10rem;
}

.about__Frame3ImgContainerTwo img 
{
    border-radius : 0.5rem;
}

.about__Frame3SmFeatures
{
    margin-top : 3rem;
    width : 100%;
    display : flex;
    align-items : center;
    gap : 2rem;
}

.about__Frame3SmFeatures ul 
{
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start;
}

.Frame3__FeatureOne li 
{
    display : flex;
    align-items : center;
    justify-content : center;
    margin-bottom : 1rem;
    gap : 0.5rem;
}

.Frame3__FeatureTwo li 
{
    display : flex;
    align-items : center;
    justify-content : center;
    margin-bottom : 1rem;
    gap : 0.5rem;
}

.Frame3__FeatureOne p 
.Frame3__FeatureTwo p 
{
    color : #2d3c58;
}

.blueTick
{
    padding : 0.3rem;
    display : flex;
    align-items : center;
    justify-content : center;
    background : #007BFF ;
    border-radius : 50%;
    color : #fff;
}

.blueTick i 
{
    font-size : 0.7rem;
}

/* ============================== Style Frame4 =====================================*/
.about__Frame4
{
    background: linear-gradient(180deg, #033aa7, #0051f0);
    padding : 3rem 5rem;
    margin : 3rem 1rem;
    border-radius: 0.5rem;
}

.about__NumbericBanner
{
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
}

.about__NumItemOne
{
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}

.about__NumItemOne h3 
{
    font-size : 1.8rem;
    font-weight : bold;
    color : #fff;
    margin : 1rem 0;
}

.about__NumItemOne p 
{
    color : #fff;
}


/* ============================== Style Frame5 =====================================*/
.about__Frame5
{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin : 10rem 2rem;
}

.about__TeamContainer
{
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}

.about__TeamHeader
{
    margin : 3rem 0;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}

.about__TeamHeader h3 
{
    font-size : 3.5rem;
    font-weight : 600;
    color : #2d3c58;
    text-transform : capitalize;
}

.about__TeamHeader p 
{
    max-width : 60%;
    font-size: 1.1rem;
    text-align: center;
    margin : 1rem 0;
}

.about__TeamImgContainer
{
    margin-top : 1rem;
}

.about__TeamImgCards
{
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
    flex-wrap : wrap;
}

.about__TeamImgCard
{
    margin-bottom: 2rem;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    gap : 0rem;
    background : #fff;
}

.about__TeamImgCardImg
{
    width : 400px;
    height : 400px;
}

.about__TeamImgCardImg img 
{
    width : 100%;
    height : 100%;
}

.about__TeamImgCardTxt
{
    width : 100%;
    padding : 2rem 0;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content: center;
    background-color : #fff;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .05);
}

.about__TeamImgCardTxt h3 
{
    font-size : 2rem;
    font-weight : bold;
    color : #4c5671;
}

.about__TeamImgCardTxt p 
{
    font-size : 1.2rem;
    font-weight : 500;
    color : #4c5671;
}

/* ================================ Design Frame6 ================================= */
.about__Frame6
{
    background-color : #f4f9ff;
    padding : 5rem 1rem;
    display: flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    overflow : hidden;
}

.about__ClientFeedBackHeader
{
    margin-bottom : 3rem;
}

.about__ClientFeedBackTxtContainer
{
    width : 100%;
    display: flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}

.about__ClientFeedBackTxtContainer h3 
{
    font-size : 3rem;
    font-weight : bold;
    text-transform : capitalize;
    color : #2d3c58;
}

.about__ClientFeedBackTxtContainer p 
{
    color : #2d3c58;
    width : 70%;
    text-align : center;
    font-size : 1.1rem;
    margin : 1rem auto;
}

.about__ClientFeedBackCardContainer
{
    width : auto;
    margin : 2rem auto;
    display : flex;
    flex-direction : row;
    flex-wrap : nowrap;
    align-items : center;
    justify-content : flex-start;
    gap : 2rem;
    overflow : hidden;
}

.about__ClientCardOne
{
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content: flex-start;
    gap : 1rem;
    width : 410px;
    height : 350px;
    padding : 2rem;
    background-color : #eaf1ff;
    border-radius: 0.5rem;
    transition : all 0.3s ease;
}

.about__ClientCardOne:hover 
{
    background-color : #0051f0;
}

.about__ClientCardOne:hover .about__ClientCardOneIcon svg path
{
    fill : #fff;
}

.about__ClientCardSmTxt
{
    margin : 0.5rem 0;
    padding : 1rem 0;
} 

.about__ClientCardOne:hover .about__ClientCardSmTxt p
{
    color : #fff;
}

.about__ClientCardSmTxt p 
{
    font-size : 1.1rem;
    color : #2d3c58;
    font-weight : 500;
}

.about__ClientCardProfileContainer
{
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
    gap : 1rem;
}
 
.about__ClientProfileTxt h4 
{
    font-size : 1.3rem;
    font-weight : bold;
    color : #4c5671;
}

.about__ClientCardOne:hover .about__ClientProfileTxt h4
{
    color : #fff;
}

.about__ClientProfileTxt span 
{
    color : #4c5671;
}

.about__ClientCardOne:hover .about__ClientProfileTxt span 
{
    color : #fff;
}

/*================================ Design Frame 7 =================================*/
.about__Frame7
{
    margin : 5rem auto;
    padding : 58px 48px;
    width : 98%;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
    background : linear-gradient(92deg, #3990ff 3.85%, #2c73fe 101.14%);
    border-radius : 1rem;
    overflow : hidden;
}

.about__smPlanContainer
{
    width : 100%;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
}

.about__SmPlanTxtContainer
{
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start;
}

.about__smPlanHighLightTxt p 
{
    width : fit-content;
    margin-bottom : 1rem;
    padding : 0.3rem 0.5rem;
    color : #fff;
    background: hsla(0, 0%, 100%, .1);
    border-radius : 0.3rem;
    font-size : 1.2rem;
    font-weight : bold;
}

.about__smPlanHighLightTxt h3 
{
    font-size : 2.3rem;
    font-weight : bolder;
    color: #fff;
    text-transform : capitalize;
}












/* media query for about page */
/*============= media query for larger devices ===============*/

/*media query for 1024px devices */
@media screen and (min-width : 1024px)
{
    .section__One
    {
        padding : 0rem 2rem 5rem;
    }

    .about__HeaderContainer
    {
        margin : 8rem 3rem 4rem;
        padding-bottom : 8rem;
        max-width : 1200px;
        margin-left : auto;
        margin-right : auto;
    }

    .about__SmTxtTag 
    {
        width : 24%;
        padding : 0.6rem;
        border-radius : 0.5rem;
    }

    .about__SmTxtTag p 
    {
        font-size : 1rem;
    }

    .about__HeaderH3 
    {
        font-size : 2.5rem;
        line-height : 3rem;
        margin : 1.2rem 0 2.2rem;
    }

    .about__HeaderSmTxt p 
    {
        font-size: 1.1rem;
        width : 75%;
    }

    .about__HeaderBtnContainers 
    {
        width : 65%;
        margin-top: 2rem;
    }

    .about__HeaderPlanBtn 
    {
        padding : 0.8rem 1.2rem;
        border-radius : 0.6rem;
    }

    .about__HeaderPlanBtn a 
    {
        font-size : 1rem;
    }

    .about__HeaderPlanBtn2 a 
    {
        font-size : 1rem;
        text-underline-offset: 0.5rem;
    }

    .about__HeaderImgContainer 
    {
        width: 50%;
    }

    .about__HeaderImgContainer img 
    {
        border-radius : 1rem;
    }

    /* media query for section 2 */
    .about__Frame2
    {
        margin : 5rem auto;
        padding : 6rem 2rem;
        max-width : 1200px;
    }

    .about__SecondBannerImg 
    {
        gap : 1.2rem;
    }

    .about__SecondBannerImgOne
    {
        width : 50%;
    }

    .about__SecondBannerImgTwo 
    {
        width: 35%;
    }

    /* media query for section 3 */
    .about__Frame3 
    {
        margin : 4rem auto;
        padding : 6rem 2rem;
        max-width : 1200px;
        gap : 4rem;
    }

    .about__Frame3TxtContainer
    {
        width : 50%;
    }

    .about__Frame3TxtContainer h3 
    {
        font-size : 2.5rem;
        line-height : 3rem;
        margin-bottom : 2rem;
    }

    .about__Frame3TxtContainer p 
    {
        font-size : 1.1rem;
        margin-bottom : 1.2rem;
    }

    .about__Frame3ImgContainer
    {
        width : 40%;
    }

    .about__Frame3ImgContainerOne
    {
        width : 60%;
    }

    .about__Frame3ImgContainerOne img 
    {
        width : 240px;
        height : 400px;
        object-fit : cover;
    }

    .about__Frame3ImgContainerTwo img 
    {
        width : 200px;
        height : 300px;
        object-fit: cover;
    }

    /* media query for section 4 */
    .about__Frame4 
    {
        margin : 4rem auto;
        padding : 4rem 2rem;
        max-width : 1000px;
    }

    .about__NumItemOne h3 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    
    .about__NumItemOne p {
        font-size: 1.2rem;
        text-align : center;
    }
    
    .about__NumItemOne img {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    /*media query for frame 5 */
    .about__Frame5 
    {
        margin : 10rem auto;
        gap : 1.2rem;
        max-width : 1200px;
    }

    .about__TeamHeader h3 
    {
        font-size : 3rem;
    }

    .about__TeamHeader p 
    {
        font-size : 1.2rem;
        max-width : 66%;
        margin : 1.2rem 0;
    }

    .about__TeamImgCards 
    {
        justify-content : center;
        gap : 3rem;
    }

    .about__TeamImgCard 
    {
        margin-bottom : 2.2rem;
    }

    .about__TeamImgCardImg 
    {
        width : 350px;
        height : 350px;
    }

    .about__TeamImgCardTxt h3 {
        font-size: 1.8rem;
    }

    .about__TeamImgCardTxt p {
        font-size: 1rem;
    }

    /* media query for frame 7 */
    .about__Frame7 
    {
        margin : 6rem auto;
        max-width : 1200px;
    }

    .about__smPlanHighLightTxt p 
    {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }
}

@media screen and (min-width : 1344px)
{
    .about__HeaderContainer 
    {
        margin : 9rem 2rem 3rem;
        padding-bottom : 3rem;
        max-width : 1300px;
    }

    /* media query for section 3 */
    .about__Frame3ImgContainerOne
    {
        width : 70%;
    }

    .about__Frame3ImgContainerOne img 
    {
        width: 450px;
    }

    .about__Frame3ImgContainerTwo {
        margin-top: 14rem;
    }

    .about__Frame3ImgContainerTwo img {
        width: 300px;
        height : 320px;
    }

    .about__Frame3TxtContainer p 
    {
        margin-bottom: 0rem;
    }

    /* media query for section 4 */
    .about__Frame4 
    {
        margin : 4rem auto;
        padding : 4rem 2rem;
        max-width : 1300px;
    }
}

@media screen and (min-width : 1440px)
{
    .about__HeaderContainer
    {
        margin : 10rem auto 6rem;
        padding-bottom : 6rem;
        max-width : 1400px;
    }

    /*media query for second section*/
    .about__Frame2 
    {
        margin : 8rem auto;
        padding : 8rem 2rem;
        max-width : 1400px;
    }

    .about__SecondBannerImg
    {
        align-items : flex-start;
    }

    .about__SecondBannerImgTwo 
    {
        margin-top: 13rem;
    }

    .about__SecondBannerImgOne img,
    .about__SecondBannerImgTwo img {
        border-radius: 1.2rem;
    }

    .about__secondBanner__H3 {
        font-size: 2.9rem;
        margin-bottom: 1.6rem;
    }
    
    .about__secondBanner__SmallTxt p {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    .about__secondBanner__Abilities {
        margin: 2.6rem 0rem;
        gap: 1.6rem;
    }

    .secondBanner__Ability1 {
        gap: 2.6rem;
    }

    .secondBanner__AbilityImg {
        padding: 0.8rem;
        border-radius: 0.5rem;
        width: 80px;
        height: 80px;
    }

    .secondBanner__AbilityTxt h4 {
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
    }

    .secondBanner__AbilityTxt p {
        font-size: 1rem;
    }

    .about__secondBanner__Btn 
    {
        border-radius : 0.8rem;
    }

    /* media query for section3 */
    .about__Frame3 
    {
        margin: 6rem auto;
        max-width : 1400px;
        padding : 8rem 5rem;
    }

    .about__Frame3TxtContainer h3 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 2rem;
    }

    .about__Frame3TxtContainer p {
        font-size: 1.3rem;
        margin-bottom: 0rem;
    }

    .about__Frame3ImgContainer 
    {
        width: 45%;
    }
}

@media screen and (min-width : 1920px)
{
    .about__HeaderContainer 
    {
        margin : 11rem auto 8rem;
        padding-bottom : 8rem;
        max-width : 1600px;
    }

    .about__SmTxtTag 
    {
        width : 18%;
        padding : 0.5rem 1rem;
        border-radius : 0.8rem;
    }

    .about__SmTxtTag p 
    {
        font-size : 1.1rem;
    }

    .about__HeaderH3 
    {
        font-size : 3rem;
        line-height : 3.5rem;
        margin : 2rem 0 3rem;
    }

    .about__HeaderSmTxt p 
    {
        font-size : 1.4rem;
        width : 70%;
    }

    .about__HeaderBtnContainers 
    {
        width : 50%;
        margin-top : 3rem;
        gap : 1rem;
    }

    .about__HeaderPlanBtn
    {
        padding : 1rem 1.5rem;
        border-radius : 0.8rem;
    }

    .about__HeaderPlanBtn a 
    {
        font-size : 1.2rem;
    }

    .about__HeaderPlanBtn2 a 
    {
        font-size : 1.2rem;
        text-underline-offset: 0.8rem;
    }

    .about__HeaderImgContainer img 
    {
        border-radius : 1.2rem;
        transform : scale(1.12);
    }

    /* media query for section 2 */
    .about__Frame2 
    {
        max-width : 1800px;
        margin : 10rem auto;
        padding : 10rem 5rem;
    }

    .about__SecondBannerImg 
    {
        gap : 2rem;
    }

    .about__SecondBannerImgTwo 
    {
        margin-top : 15rem;
    }

    .about__SecondBannerImgOne
    {
        width : 52%;    
    }

    .about__SecondBannerImgTwo 
    {
        width : 34%;
    }

    .about__secondBanner__H3 {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    .about__secondBanner__SmallTxt p {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    
    .about__secondBanner__Abilities {
        margin: 3rem 0rem;
        gap: 2rem;
    }
    
    .secondBanner__Ability1 {
        gap: 3rem;
    }

    .secondBanner__AbilityImg {
        padding: 1rem;
        border-radius: 0.6rem;
        width: 90px;
        height: 90px;
    }
    
    .secondBanner__AbilityTxt h4 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .secondBanner__AbilityTxt p {
        font-size: 1.3rem;
    }

    /* CSS for section 3*/
    .about__Frame3 
    {
        margin : 8rem auto;
        padding : 10rem 6rem;
        max-width : 1600px;
    }

    .about__Frame3TxtContainer h3 
    {
        font-size : 3.2rem;
        line-height : 4rem;
        margin-bottom : 2rem;
    }

    .about__Frame3TxtContainer p {
        font-size: 1.5rem;
        margin-bottom: 0rem;
    }
    
    .about__Frame3ImgContainer {
        gap: 2rem;
    }

    .about__Frame3ImgContainerTwo {
        margin-top: 15rem;
    }

    .about__Frame3ImgContainerOne img
    {
        width: 500px;
        height : 400px;
    }

    .about__Frame3ImgContainerTwo img {
        width: 400px;
        height: 420px;
    }

    /* media query for section 4 */
    .about__Frame4 
    {
        margin : 4rem auto;
        padding : 4rem 2rem;
        max-width : 1400px;
    }

    /* media query for section 5 */
    .about__Frame5 
    {
        max-width : 1600px;
    }

    .about__TeamHeader 
    {
        width: 100%;
    }

    .about__TeamContainer {
        width: 1600px;
    }

    .about__TeamHeader p 
    {
        max-width : 50%;
    }

    .about__TeamImgCards 
    {
        display : grid;
        grid-template-columns: repeat(3, 1fr);  
    }

    /* media query for fram 7 */
    .about__Frame7 {
        margin: 6rem auto;
        max-width: 1400px;
    }
}




/* ================= media query for 2048px width devices =================*/
@media screen and (min-width : 2048px)
{
    .about__HeaderContainer 
    {
        padding-bottom : 5rem;
    }
}


@media screen and (min-width : 3840px)
{
    .about__HeaderContainer 
    {
        max-width : 1800px;
    }

    .about__Frame2 
    {
        max-width : 2000px;
    }

    .about__Frame3 
    {
        max-width : 2000px;
        margin : 12rem auto;
        padding : 14rem 8rem;
    }

    .about__Frame3ImgContainer {
        width: 55%;
    }

    .about__Frame3ImgContainerOne img {
        width: 400px;
        height: 500px;
        margin: 0 auto;
    }

    .about__Frame3ImgContainerOne img, 
    .about__Frame3ImgContainerTwo img 
    {
        border-radius : 1.2rem;
    }

    /* media query for fram 7 */
    .about__Frame7 {
        margin: 6rem auto;
        max-width: 1600px;
    }
}
