/*====================== Design Frame1 ======================*/
.frame1__CloudH3
{
    font-size : 2.9rem !important;
    line-height : 3.2rem;
    width : 100%;
    text-transform: capitalize;
}

.cloud__Frame1SmallTxt
{
    margin-top : 1rem;
    text-transform: capitalize;
}

.cloud__resellerH3
{
    text-align : center;
}




/*============================= Design Second Frame ============================*/
.cloud__Frame2
{
    margin : 3rem 0rem; 
    padding : 3rem 1rem;
    display : flex;
    flex-direction : row;
    align-items : flex-start;
    justify-content : center;
    gap : 2rem;
}

.cloud__Frame2Left
{
    width : 50%
}

.cloud__Frame2Left img 
{
    width : 100%;
    border-radius : 0.9rem;
}

.cloud__Frame2Right
{
    width : 50%;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start;
    gap : 1rem;
}

.cloud__Frame2Right h3 
{
    font-size : 2.7rem;
    font-weight : 700;
    line-height : 3rem;
    text-transform : capitalize;
    color : #2d3c58;
}

.cloud__Frame2Right p 
{
    margin : 0.5rem 0rem;
    font-size : 1rem;
    font-weight : 400;
    color : #4c5671;
}

.cloud__Frame2SmTags
{
    width : 100%;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    gap : 1rem;
}

.cloudFrame2__TagOne
{
    width : 100%;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : flex-start;
    gap : 2rem;
}

.cloudFrame2__SmTag
{
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : center;
    gap : 1rem;
}

.cloudFrame2__SmTagTXT h4 
{
    font-size : 1.1rem;
    font-weight : 700;
    color : #2d3c58;
    text-transform : capitalize;
}





/*======================= MEDIA QUERY FOR MEDIUM DEVICES ====================*/
@media screen and (max-width : 768px)
{
    .cloud__Frame2 
    {
        flex-direction: column;
        margin: 3rem auto;
    }

    .cloud__Frame2Left, 
    .cloud__Frame2Right
    {
        width : 100%;
    }

    .cloudFrame2__TagOne 
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .cloudFrame2__SmTag 
    {
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }
}















/*========================================== MEDIA QUERY FOR LARGER DEVICES ============================================*/
@media screen and (min-width : 1024px)
{
    .about__HeaderBtnContainers 
    {
        width: 60%;
    }
    
    .cloud__HostingFeatureContainer
    {
        max-width : 1200px;
        margin : 4rem auto;
    }

    .cloud__Frame2
    {
        max-width : 1200px;
        margin : 4rem auto;
    }
}
