/*============================== Design  First Section ============================*/
.domain__CheckerContainer
{
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    padding : 8rem 1rem 5rem;
}

.domain__CheckerContainer h3 
{
    font-size : 3rem;
    font-weight : bold;
    letter-spacing : 0.3px;
    margin-bottom : 1rem;
}

.domain__CheckerContainer p 
{
    font-size : 1.1rem;
    font-weight : 400;
    letter-spacing : 0.3px;
    margin-bottom : 2rem;
}

.get__domainContainer
{
    width : 100%;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content  : center;
    margin-bottom: 2rem;
}

.dom__InputContainer
{
    width : 50vw;
    color : #2d3c58;
    padding : 1rem 1.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color : #fff;
}

.dom__InputContainer input 
{
    width : 100%;
    border : none;
    outline : none;
}

.dom__InputSelectContainer
{
     padding : 1rem 1.5rem;
    background : #fff;
    color : #2d3c58;
}

.dom__BtnContainer
{
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : center;
    background-color : #ffc107;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius : 0.5rem;
}

.dom__BtnContainer button 
{
    padding : 1rem 2rem;
    border : none;
    outline : none;
    color : #2d3c58;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition : all 0.3s ease;
}

.dom__BtnContainer:hover button 
{
    background-color : #2d3c58;
    color : #fff;
}

.pop__DomainContainer
{
    display : flex;
    flex-direction : row;
    align-items : flex-start;
    justify-content : space-between;
    gap : 2rem;
    margin-top : 1rem;
}

.pop__DomainTxt p
{
    font-size : 1rem;
}

.pop__DomainTag 
{
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : center;
    gap : 0.5rem;
}

.pop__Tag1
{
    margin : 0 0.2rem;
}

.pop__Tag1 span 
{
    background: hsla(0, 0%, 100%, .1);
    padding : 0.5rem;
    border-radius : 0.2rem;
}

/* ================================== Design Second Frame ================================*/
.domain__Frame2
{
    margin : 3rem 0;
    padding : 5rem 3rem;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}

.domain__Frame2TxtContainer
{
    margin : 1rem auto;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    gap : 1rem;
}

.domain__Frame2TxtContainer h3 
{
    font-size : 3rem;
    font-weight : 700;
    color : #2d3c58;
}

.domain__Frame2TxtContainer p 
{
    font-size : 1.1rem;
    font-weight : 400;
    color : #2d3c58;
}

.domain__Frame2CardsContainer 
{
    margin : 3rem 0;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    gap : 2rem;
}

.domain__Frame2CardsOne
{
    display : flex;
    flex-direction : row;
    align-items: flex-start;
    justify-content : flex-start;
    gap : 1.5rem;
}

.domain__CardOne
{
    padding: 2rem;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start;
    gap : 1rem;
    border: 1px solid #dfeaff;
    border-radius : 0.5rem;
}

.domain__CardOne p 
{
    font-size : 1rem;
    color : #2d3c58;
}

.domain__PriceCompete
{
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : flex-start;
    gap : 1rem;
}

.domain__PriceCompete span:nth-child(1)
{
    font-size : 1rem;
    color : #2d3c58;
    text-decoration: line-through;
}

.domain__PriceCompete span:nth-child(2)
{
    font-size: 1.2rem;
    font-weight : 700;
    color : #2d3c58;
}

.domain__BtnContainer
{
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : flex-start;
    gap : 1.5rem;
}

.domain__RegisterBtn
{
    padding : 0.3rem 1rem;
    border-radius : 0.2rem;
    background-color : #0774ff;
    color : #fff;
    transition : all 0.3s ease;
}

.domain__RegisterBtn:hover 
{
    color : #000;
    background-color : #ffc107;
}

.domain__TranBtn
{
    padding : 0.3rem 1rem;
    border-radius : 0.2rem;
    background-color : transparent;
    border: 1px solid #dfeaff;
    color : #2d3c58;
    font-weight : 600;
}


/*================================= Design Frame 3 ==================================*/
.domain__Frame3
{
    margin : 3rem 0rem 0rem;
    padding : 5rem 3rem;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    background-color : #f4f9ff;
}

.domain__PriceListContainer
{
    width : 100%;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    gap : 1rem;
}

.domain__PriceListTxt
{
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    gap : 1rem;
}

.domain__PriceListTxt h3 
{
    font-size : 3rem;
    font-weight : 700;
    color : #2d3c58;
}

.domain__PriceListTxt p 
{
    width : 60%;
    font-size : 1rem;
    font-weight : 400;
    text-align : center;
    color : #2d3c58;
}

.domain__PriceTagContainer
{
    margin-top : 2rem;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : center;
    gap : 1rem;
}

.domain__PriceOne
{
    padding : 0.3rem 1rem;
    border-radius: 1rem;
    color : #2d3c58;
    transition : all 0.3s ease;
    cursor : pointer;
}

.domain__PriceOne:hover 
{
    background : #0774ff;
    color : #fff;
}

.domain__PriceOne.domain__PriceOneActive
{
    background : #0774ff;
    padding : 0.3rem 1rem;
    border-radius: 1rem;
    color : #fff;
}

.domain__PriceListMenu
{
    margin : 3rem auto;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}

.special__PriceListMenuTag
{
    width : 70vw;
    padding :1.5rem 2rem;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
    gap : 1rem;
    background-color : #0774ff;
    color : #fff;
}

.special__PriceListMenuTag li 
{
    font-size : 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.normal__PriceListMenuTag
{
    width : 70vw;
    padding : 1.5rem 2rem;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
    border: 1px solid #d4dcff;
    border-top : none;
}

.normal__PriceListMenuTag:hover 
{
    background-color: rgba(0, 0, 0, .075);
}
/* .normal__PriceListMenuTag li 
{
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content: center;
} */

/*============================= Design Frame4 Css =========================*/
.domain__Frame4
{
    width : 100%;
    margin: 3rem 0;
    padding : 5rem 3rem;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start;
}

.domain__Frame4TxtContainer
{
    width : 100%;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
}

.domain__Frame4TxtContainer h3 
{
    width : 50%;
    font-size : 2.3rem;
    font-weight : 700;
    color : #2d3c58;
    margin-bottom : 2rem;
}

.domain__Frame4TxtContainer p 
{
    width : 35%;
    color : #2d3c58;
}

.domain__Frame4CardsContainer
{
    margin-top : 3rem;
    display : flex;
    flex-direction : row;
    align-items : flex-start;
    justify-content : center;
}

.domain__Frame4CardOne
{
    margin : 0rem 1rem;
    padding : 2rem;
    border-radius : 0.5rem;
    background-color : #e1efff;
    display : flex;
    flex-direction : column;
    gap : 1rem;
}

.domain__Frame4CardOneImgContainer 
{
    height : 80px;
    width : 80px;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : center;
    background-color : #eaf1ff;
    border-radius : 50%;
}

.domain__Frame4CardOne h4 
{
    font-size : 1.1rem;
    font-weight : 700;
    text-transform: capitalize;
    color : #2d3c58;
}

.domain__Frame4CardOne p 
{
    font-size : 0.9rem;
    font-weight : 400;
    color : #2d3c58;
}