.error__Container
{
    width : 100%;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}

.error__ImgContainer
{
    margin : 5rem 0;
    padding-bottom: 3rem;
}

.error__TxtContainer
{
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    gap : 1rem;
}

.error__TxtContainer h4 
{
    font-size : 2.7rem;
    font-weight : 600;
    text-transform : capitalize;
    color : #4c5671;
}

.error__TxtContainer p 
{
    width : 70%;
    text-align : center;
    font-size : 1.1rem;
    color : #4c5671;
}

.error__TxtContainerBtn
{
    padding : 1rem 2rem;
    background-color : #007BFF;
    color : #fff;
    border-radius : 0.5rem;
    font-weight : 600;
    cursor : pointer;
}