.knowledgebase__ImgContainer
{
    width : 50%;
    display : flex;
    flex-direction : row;
    align-items : flex-end;
    justify-content : center;
}

.knowledgebase__ImgContainer img 
{
    width : 60%;
    height : 50%;
}

/*============================== Desgin Frame 1 =========================*/
.knowledgeBase__Frame1
{
    margin : 3rem 0rem;
    padding : 3rem 1rem; 
    display : flex;
    flex-direction : row;
    align-items : flex-start;
    justify-content : center;
    gap : 2rem;
}

.knowledgeBase__LeftContainer
{
    width : 40%;
    padding : 35px 30px;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start;
    border : 1px solid #d4dcff;
}

.knowledge__LeftHeader 
{
    font-size : 1.7rem;
    font-weight : 700;
    color : #2d3c58;
}

.knowledgeBase__Tags
{
    width : 100%;
    margin-top : 1rem;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : center;
    gap : 1rem;
}

.knowledge__Tag1
{
    width : 100%;
    padding : 1rem;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
    border : 1px solid #d4dcff;
    border-radius : 6px;
    cursor : pointer;
    transition : all 0.3s ease;
}

.knowledge__Tag1:hover 
{
    background: #0774ff;
}

.knowledge__Tag1Txt h3 
{
    font-size : 1rem;
    font-weight : 700;
    color : #2d3c58;
}

.knowledge__Tag1:hover h3 
{
    color : #fff;
}

.knowledge__Tag1Num h3 
{
    color : #2d3c58;
    font-weight : 700;
}

.knowledgeBase__RightContainer
{
    width : 70%;
    padding : 2rem;
    border : 1px solid #d4dcff;
    border-radius : 6px;
}

.knowledgeBigTag
{
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start;
    gap : 1rem;
}

.knowledgeBigTagOne
{
    margin : 0.3rem 0rem;
    border-bottom : 1px solid #d4dcff;
}

.knowledgeBigTagOne h3 
{
    font-size : 1.3rem;
    font-weight : 700;
    color : #2d3c58;
}

.knowledgeBigTagOne p 
{
    margin : 1rem;
    font-size : 1rem;
    font-weight : 400;
    color : #2d3c58;
}

.knowledgeBigTagP
{
    border-bottom: none;
}





/*======================== MEDIA QUERY FOR MEDIUM SIZE DEVICES =====================*/
@media screen and (max-width : 768px)
{
    .payment__HeaderContainer 
    {
        flex-direction: column;
        gap : 3rem;
    }

    .knowledgebase__ImgContainer 
    {
        width: 100%;
    }

    .knowledgeBase__Frame1 
    {
        margin: 3rem auto;
        flex-direction: column;
    }

    .knowledgeBase__LeftContainer, 
    .knowledgeBase__RightContainer
    {
        width : 100%;
    }
}
















/* media query for larger screen sizes*/
@media screen and (min-width : 1024px)
{
    .knowledgeBase__Frame1 
    {
        max-width : 1200px;
        margin : 4rem auto;
        padding : 5rem 2rem;
        gap : 2rem;
    }
}
