.signin__Terms 
{
    margin : 1rem auto;
    width : 60%;
    justify-content : space-between;
}

.signin__Terms a 
{
    text-transform : capitalize;
}


/*==================== MEDIA QUERY FOR SMALLER DEVICES ========================*/
@media screen and (max-width : 525px)
{
    .signin__Terms 
    {
        width : 100%;
        flex-direction: column;
    }
}
