.vpsHosting__Frame1H3
{
    text-align :left;
    align-items : flex-start;
    justify-content : flex-start;
}

/*=========================== Design VPS Frame1 ==========================*/
.vps__Frame1
{
    margin : 3rem 0rem;
    padding : 3rem 1rem;
    display : flex;
    flex-direction : row;
    align-items : flex-start;
    justify-content: center;
    gap : 2rem;
}

.vpsFrame1__LeftContainer
{
    width : 50%;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start;
    gap : 1rem;
}

.vpsFrame1__LeftContainer h3 
{
    font-size : 2.7rem;
    font-weight : 700;
    color : #2d3c58;
    line-height : 3rem;
}

.vpsFrame1__LeftContainer p 
{
    margin : 0.5rem 0rem;
    width : 70%;
    font-size : 1rem;
    font-weight : 400;
    color : #4c5671;
}

.vpsFrame1__TagLinks
{
    width : 60%;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start;
    gap : 0.5rem;
}

.vpsFrame1__TagOne
{
    width : 100%;
    padding : 0.5rem 1rem;
    border : 1px solid #e3d1ff;
}

.vpsFrame1__TagOne a 
{
    font-size : 0.9rem;
    font-weight : 700;
    color : #4c5671;
}

.vpsFrame1__RightContainer
{
    width : 50%;
    height : 500px;
    display : flex;
    flex-direction : row;
    align-items : flex-end;
    justify-content: flex-end;
}

.vpsFrame1__RightContainer img 
{
    width : 80%;
    height : 100%;
    border-radius : 0.9rem;
}

/*============================ Design Second Frame ==========================*/
.vps__Frame2
{
    margin : 3rem 0rem;
    padding : 3rem 1rem;
    display : flex;
    flex-direction : row;
    align-items : flex-start;
    justify-content : center;
    gap : 2rem;
}

.vpsFrame2__LftContainer
{
    width : 50%;
    display : flex;
    flex-direction : row;
    flex-wrap : nowrap;
    align-items : flex-start;
    justify-content : flex-start;
    gap : 1rem;
}

.vpsFrame2__Img1
{
    width : 200px;
    height : 400px;
}

.vpsBanner__2A 
{
    width : 100%;
    height : 100%;
    object-fit : cover;
    border-radius : 0.9rem;
}

.vpsFrame2__Img2
{
    width : 500px;
    height : 400px;
}

.vpsBanner__2B
{
    width : 100%;
    height : 100%;
    object-fit : cover;
    border-radius : 0.9rem;
}


.vpsFrame2__RitContainer
{
    width : 50%;
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content : flex-start;
    gap : 1rem;
}

.vpsFrame2__RitContainer h3 
{
    font-size : 2.3rem;
    font-weight : 700;
    line-height : 2.5rem;
    color : #2d3c58;
}

.vpsFrame2__RitContainer p 
{
    font-size : 1rem;
    font-weight : 400;
    color : #4c5671;
}

.vpsFrame2__SMads
{
    width : 70%;
    margin : 1rem 0rem;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-between;
    gap : 1rem;
}

.vpsFrame2__SmAdsOne, .vpsFrame2__SmAdsTwo
{
    display : flex;
    flex-direction : column;
    align-items : flex-start;
    justify-content: flex-start;
    gap : 0.5rem;
}

.vpsFrame2__Smads1
{
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content: flex-start;
    gap : 0.5rem;
}

.vpsFrame2__SmAds1Icon
{
    width : 15px;
    height : 15px;
    background-color: #0774ff;
    border-radius : 50%;
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : center;
}

.vpsFrame2__SmAds1Icon i 
{
    font-size : 0.5rem;
    color : #fff;
}






/*================================= MEDIA QUERY FOR MEDIUM DEVICES =========================*/
@media screen and (max-width : 768px)
{
    .vpsHosting__Frame1H3
    {
        align-items : center;
        justify-content : center;
    }

    .vpsHosting__Frame1H3 h3
    {
        text-align : center;
    }

    .dedicated__HostingFrame5Left p 
    {
        text-align: center;
    }

    .vps__Frame1 
    {
        flex-direction: column-reverse;
        margin: 3rem auto;
    }

    .vpsFrame1__LeftContainer, 
    .vpsFrame1__RightContainer
    {
        width : 100%;
    }

    .vpsFrame1__RightContainer img 
    {
        margin: 1rem auto;
    }

    .vps__Frame2 
    {
        display: flex;
        flex-direction: column;
        margin: 3rem auto;
        gap : 3rem;
    }

    .vpsFrame2__LftContainer
    {
        width : 100%;
    }

    .vpsFrame2__RitContainer
    {
        width : 80%;
        margin : 1rem auto;
    }
}


/*========================== MEDIA QUERY FOR SMALLER DEVICES =======================*/
@media screen and (max-width : 525px)
{
    .blog__FrameTwoTxtContainer h3 
    {
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .vpsFrame1__LeftContainer h3,
    .vpsFrame2__RitContainer h3 
    {
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .vps__Frame1,
    .vps__Frame2 
    {
        max-width: 400px;
    }

    .vpsFrame2__SMads 
    {
        width: 100%;
    }

    
    .vpsFrame1__LeftContainer p 
    {
        width : 100%;
    }

    .vpsFrame1__TagLinks 
    {
        width: 100%;
    }

    .vpsFrame2__RitContainer 
    {
        width: 100%;
    }
}


@media screen and (max-width : 425px)
{
    .vps__Frame1, .vps__Frame2 
    {
        margin : 0rem auto;
        padding : 2rem;
        max-width: 300px;
    }

    .blog__FrameTwo 
    {
        padding : 2rem;
    }

    .blog__FrameTwoImgContainer {
        width: 80%;
    }

    .tech__Earth 
    {
        left: 2rem;
    }

    .vpsFrame1__LeftContainer h3, 
    .vpsFrame2__RitContainer h3 
    {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .vpsFrame2__SMads 
    {
        align-items: flex-start;
        flex-direction: column;
    }

    .vpsFrame1__RightContainer img 
    {
        height : 80%;
    }
}







/*============================================== MEDIA QUERY FOR LARGER SCREEN SIZES===========================================*/
@media screen and (min-width : 1024px)
{
    .vps__Frame1
    {
        max-width : 1200px;
        margin : 4rem auto;
    }

    .vps__Frame2
    {
        max-width : 1200px;
        margin : 4rem auto;
        gap : 3rem;
    }
}
