*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
   
}

.section__One
{
    background-color: #0774ff;
    color: #fff;
}

.sale__infoContainer
{
    width: 100%;
    height: fit-content;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .1) 8.51%, hsla(0, 0%, 100%, .1) 77.02%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.sale__Description
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sale__rightSide
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.sale__LiveChat
{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sale__Login
{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.span__saleSmDesc
{
    color: #ffc107;
    font-weight: bold;
}

.navBar__Container
{
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navBar__UL
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navBar__Button button
{
    padding: 0.5rem 2.5rem;
    border: 1px solid #fff;
    border-radius: 2rem;
}

.header__Container
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18.75rem 1rem 1rem 1rem;
}

.header__ContainerTxt
{
    width: 50%;
}

.header__ContainerSmTxt
{
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    width: fit-content;
    padding: 0.4rem 1rem;
    font-weight: bold;
}

.main__Header
{
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    margin: 2rem 0;
}

.header__smallDesc
{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 1rem 0;
}

.header__BtnContainer
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 1rem 0;
    font-size: 1.1rem;
}

.header__GetStartedBtn
{
    padding: 0.7rem 1.8rem;
    border-radius: 2rem;
    background: #fff;
    color: #000;
    transition: all 0.3s ease;
}

.header__GetStartedBtn:hover 
{
    background: #ffc107;
}

.header__GetStartedBtn a
{
    font-size: 1rem;
    font-weight: bolder;
}

.header__PlanBtn
{
    font-size: 1rem;
    font-weight: bolder;
}

.header__PlanIntro
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 1rem 0;
    font-weight: 600;
}


/*===================== CSS FOR SECTION 2=======================*/
.section__Two 
{
    padding: 5rem 1rem 1rem 1rem;
}

.domain__TextH3
{
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

.domainSpan
{
    color: #0774ff;
}

.domain__ReviewContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.smdomain__Review1, .smdomain__Review2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.smdomain__Review1
{
    font-size: 1.6rem;
}

.smdomain__Review2
{
    font-size: 1.1rem;
    font-weight: 400;
}

.ads__BannerContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    gap: 1rem;
    color: #4c5671;
}

.ads__BannerContainer img 
{
    color: #4c5671;
}

.hosting__Container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    color: #4c5671;
}

.hosting__H3
{
    font-size: 2.5rem;
    font-weight: bold;
}

.hosting__txt
{
    padding: 1rem 0;
}

.hosting__Navigation
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hosting__Navigation i 
{
    padding: 0.9rem 1.2rem;
    border: 1px solid #4c5671;
    border-radius: 1rem;
    display : flex;
    align-items: center;
    justify-content: center;
    cursor : pointer;
    transition: 0.3s ease;
}

.hosting__Navigation i:hover 
{
    background: #0774ff;
    color: #fff;
}

.hosting__CardContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.hosting__Card
{
    height: 424px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(180deg, #f3f5ff, rgba(231, 235, 255, 0));
    padding: 3.125rem 2.5rem;
    border-radius: 1rem;
    transition: all 0.5s ease;
}

.hosting__Card img:hover 
{
    filter: hue-rotate(180deg) saturate(2);
}

.hosting__CardH4
{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #2d3c58;
}

.hosting__CardP
{
    font-size: 1rem;
    line-height: 1.8rem;
    color: #4c5671;
}

.hosting__CardSpan, .hostingCard__Btn a
{
    font-size: 1rem;
    font-weight: bold;
    color: #4c5671;
}

.hostingCard__Btn
{
    width: 60%;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-radius: 2rem;
}

.hosting__Card:hover 
{
    color: #fff;
    background: #0774ff;
}

.hosting__Card:hover .hosting__CardP
{
    color: #fff;
}

.hosting__Card:hover .hosting__CardH4
{
    color: #fff;
}

.hosting__Card:hover .hosting__CardSpan
{
    color: #fff;
}

.hosting__Card:hover .hostingCard__Btn
{
    border: none;
    background: #fff;
}


/*===================== CSS FOR SECTION 3=======================*/
.section3 
{
    margin: 3rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.section3__ImgContainer
{
    width: 50%;
    background: #0774ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding-top: 2rem;
}

.section3__TxtContainer
{
    width: 50%;
}

.sectionH3
{
    max-width: 80%;
    margin: 1rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    text-transform: capitalize;
    color: #2d3c58;
}

.sectionP
{
    max-width: 90%;
    margin: 2rem 0;
    font-size: 1.1rem;
}

.success__SmallDetail
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.section3__Icon1
{
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(147deg, #e8ecff 14.12%, #d1ffef 80.26%);
}

.section3__Icon2
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(147deg, #e8ecff 14.12%, #e3d1ff 80.26%);
}

.section3__SmDesc
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

/*====================== SECTION 4 CSS ====================*/
.section4 
{
    margin: 6rem 1rem;
    padding: 6rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: #0774ff;
    border-radius: 1rem;
}

.billBoard__Container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section4h3
{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
}

.billBoard__Input
{
    background: #fff;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 3rem;
}

.billBoard__Input input 
{
    width: 80%;
    border: none;
    outline: none;
}

.billBoard__Btn
{
    padding: 0.8rem 1.6rem;
    color: #fff;
    background: #000;
    border-radius: 2rem;
}

.billBoard__Btn:hover 
{
    color: #000;
}

.billBoard__Btn a 
{
    font-weight: bold;
}

.billBoard__Txt
{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: #fff;
}

.billBoard__Txt div
{
    font-weight: bold;
}

.smDom
{
    color: #ffc107;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1rem;
}

.sm__Domain
{
    font-size: 1.1rem;
    font-weight: bolder;
}


/*====================== SECTION 5 CSS ==================*/
.section5 
{
    margin: 3rem 1rem;
}

.section5__TxtContainer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section5__H3
{
    font-size: 2.5rem;
    font-weight: 600;
    color: #4c5671;
}

.section5__SmallP
{
    max-width: 45%;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 1rem auto;
}

.section5__CardContainer
{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

.section5__FirstRow
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

.sec5hosting__Card
{
    padding: 1rem 2rem;
    height: 300px;
    border-right: 1px solid #4c5671;
    border-bottom: 1px solid #4c5671;
    transition: all 0.3s ease;
}

.even__Card 
{
    background: linear-gradient(147deg, #e8ecff 14.12%, #d1ffef 80.26%);
}

.odd__Card
{
     background: linear-gradient(147deg, #e8ecff 14.12%, #e3d1ff 80.26%);
}

.sec5hosting__Card img 
{
    margin: 1rem 0;
    padding: 0.6rem 0.7rem;
    border-radius: 0.6rem;
}

.hosting__CardH4
{
    font-size: 1.4rem;
    font-weight: 700;
    color: #4c5671;
    margin: 1rem 0;
}

.hosting__CardP
{
    font-size: 0.9rem;
    line-height: 1rem;
    margin-bottom: 2rem;
    width: 90%;
}

.hostingCard__Link
{
    color: #4c5671;
    font-size: 1.1rem;
    font-weight: bold;
}

.sec5__LastCard
{
    border-right: none;
}

.section5__FirstRow:nth-child(2) .sec5hosting__Card
{
    border-bottom: none;
}

.sec5hosting__Card:hover .hosting__CardH4
{
    color: #0774ff;
}

.sec5hosting__Card:hover .hostingCard__Link
{
    color: #0774ff;
}


/*===================== CSS FOR SECTION 6========================*/
.section6 
{
    padding: 4rem 1rem;
}

.section6__TxtContainer
{
    margin: 1rem auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section6__H3
{
    font-size: 2.5rem;
    font-weight: bold;
    color: #4c5671;
    margin-bottom: 2rem;
}

.section6__SmTxt
{
    max-width: 60%;
    text-align: center;
    font-size: 1.1rem;
    color: #4c5671;
}

/*====================== CSS FOR SECTION 7 ====================*/
.section7
{
    background: #0774ff;
    margin: 3rem 1rem;
    padding: 3rem;
    border-radius: 1rem;
    color: #fff;
}

.section7__SaleBanner
{
    display : flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.section7__SaleTxt
{
    width: 40%;
}

.section7__H3
{
    font-size: 2.2rem;
    font-weight: 600;
}

.sec7__SaleBanners
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.section7__SmTxt
{
    width: 80%;
    padding: 1rem 0;
    margin: 1rem 0;
    font-size: 1rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.sec7__Sale1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: linear-gradient(112deg, hsla(0, 0%, 100%, .05), hsla(0, 0%, 100%, .05) 101.12%);
    padding: 30px 50px;
    border-radius: 1rem;
}

.saleOne__Txt
{
    width: 100%;
}

.saleOne__P
{
    font-size: 0.8rem;
    background: #fff;
    color: #000;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.saleOne__H3
{
    font-size: 2.2rem;
    font-weight: bold;
}

.saleOne__Span
{
    font-size: 1.7rem;
}

.saleOne__Img
{
    background: #fff;
    padding: 2rem;
    border-radius: 50%;
}

.saleOne__Img img 
{
    width: 100%;
    height: 100%;
}

/*====================== CSS FOR SECTION 8 ===================*/
.section8 
{
    margin: 3rem auto;
    padding: 3rem 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.sec8__TxtContainer
{
    width: 50%;
}

.sec8__H3
{
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2.5rem;
    color: #2d3c58;
}

.sec8__SmDesc
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sec8__SmDescOne
{
    width: 80%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.sec8__SmDescOne img 
{
     background: linear-gradient(147deg, #e8ecff 14.12%, #e3d1ff 80.26%);
     width: 60px;
     height: 60px;
     padding: 0.5rem 1rem;
     border-radius: 1rem;
}

.sec8__OddColor img
{
    background: linear-gradient(147deg, #e8ecff 14.12%, #d1ffef 80.26%);
}

.sec8__SmDescOneTxt
{
    padding-bottom: 1rem;
}

.sec8__SmDescOneTxt h4 
{
    color: #2d3c58;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.3rem 0;
}

.sec8__SmDescOneTxt p 
{
    font-size: 1rem;
    color: #2d3c58;
}

.sec8__ImgContainer
{
    width: 50%;
    padding: 4rem 2rem;
    background: #0774ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

/*==================== CSS FOR SECTION9 ======================*/
.section9
{
    margin: 3rem auto;
    padding: 3rem 1rem;
}

.sec9__PlanHeader
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sec9__PlanHeader h3 
{
    font-size: 2.5rem;
    font-weight: 600;
    color: #4c5671;
    text-transform: capitalize;
}

.sec9__PlanHeader p 
{
    width: 45%;
    text-align: center;
    color: #2d3c58;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.sec9__PricePlanDifference
{
    margin-top: 3rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #4c5671;
}

.sec9__PriceImg
{
    width: 40%;
}

.sec9__PriceImg ul li 
{
    border-top: 1px solid #4c5671;
    border-left: 1px solid #4c5671;
}
    
.sec9__PriceDif
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec9__SmPlan
{
    padding: 2rem;
    border-left: 1px solid #4c5671;
}

.sec9__SmPlan h3 
{
    font-size: 1.5rem;
    font-weight: 600;
    color: #2d3c58;
    margin: 1rem 0;
}

.sec9__SmPlan span 
{
    font-size: 1.04rem;
    color: #4c5671;
}

.sec9__SmPlanBtn
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.sec9__SmPlanBtn button 
{
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #4c5671;
    border-radius: 2rem;
}

.sec9__ByNow
{
    background-color: #0774ff;
    color: #fff;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.sec9__ByNow:hover 
{
    color: #000;
    background-color: #ffc107;
}

.sec9__SmPlan ul li 
{
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #4c5671;
    border-left: 1px solid #4c5671;
}

/*====================== CSS FOR SECTION 10 =================*/
.section10 
{
    margin: 3rem auto;
    padding: 3rem 1rem;
}

.section10__Header
{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.section10__Header h3 
{
    font-size: 2.5rem;
    font-weight: bold;
    color: #2d3c58;
    text-transform: capitalize;
}

.section10__Header p 
{
    width: 60%;
    font-size: 1.1rem;
    text-align: center;
    color: #4c5671;
}

.section10__ReviewsContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

.sec10__ReviewCard
{
    width: 400px;
    padding: 2rem;
    border: 1px solid #eaefff;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.sec10__ReviewCard:hover 
{
    background: #0774ff;
    color: #fff;
}

.sec10__RatingStar
{
    margin: 1rem 0;
}

.sec10__RatingStar i 
{
    color: #ffc107;
}

.sec10__P
{
    margin: 1rem 0;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #2d3c58;
    font-weight: 500;
}

.sec10__ReviewCard:hover .sec10__P
{
    color: #fff;
}

.review__People
{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.review__PeopleTxt h4
{
    color: #2d3c58;
    font-size: 1.5rem;
    font-weight: bold;
}

.sec10__ReviewCard:hover .review__PeopleTxt h4
{
    color: #fff;
}

.review__PeopleTxt span 
{
    font-size: 1rem;
    color: #4c5671;
}

.sec10__ReviewCard:hover .review__PeopleTxt span
{
    color: #fff;
}


/*===================== CSS FOR SECTION 11 ===================*/
.section11
{
    margin: 3rem auto;
    padding: 3rem 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section11__LeftSide
{
    width: 50%;
}

.section11__LeftSide h3 
{
    margin: 1rem 0;
    color: #2d3c58;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.5rem;
}

.section11__LeftSide p 
{
    margin: 1rem 0;
    color: #4c5671;
    width: 90%;
    font-size: 1.1rem;
}

.section11__LeftSide img 
{
    margin-top: 3rem;
}

.section11__RightSide
{
    width: 50%;
}

.faqs__Container
{
    padding: 2rem 0;
}

.faq__Card
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e1efff;
}

.faq__Question
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.faq__Question h4 
{
    font-size: 1.4rem;
    font-weight: 600;
    color: #000;
}

.faq__QuestionIcon
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid #e1efff;
    border-radius: 50%;
}

.faq__QuestionIcon i 
{
    font-size: 0.8rem;
}

.faq__Answer 
{
    display : none;
}

.faq__Answer.active 
{
    display: block;
}

.faq__Answer p 
{
    color: #4c5671;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

/*======================= CSS FOR SECTION 12 =====================*/
.section12
{
    margin: 3rem 1rem;
    padding: 3rem;
    background: #0774ff;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 1rem;
}

.sec12__LeftSide
{
    width: 50%;
}

.sec12__LeftSide h3 
{
    margin-bottom: 1rem;
    font-size: 2.3rem;
    font-weight: 600;
    color: #fff;
    line-height: 2.7rem;
}

.sec12__LeftSide p 
{
    width: 80%;
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 0.5rem 0;
}

.sec12__GetStart
{
    padding: 1rem 1.8rem;
    background-color: #ffc107;
    color: #000;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.4s ease;
}

.sec12__GetStart:hover
{
    background-color: #4c5671;
    color: #fff;
}

.sec12__GetStart a 
{
    font-size: 1rem;
    font-weight: 700;
    color: #4c5671;
}

.sec12__GetStart:hover a 
{
    color: #fff;
}

.sec12__RightSide
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*====================== CSS FOR FOOTER =================*/
footer
{
    margin: 3rem 0rem 0rem;
    padding: 3rem 1rem ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(0deg,#dfeaff,rgba(246,249,255,0) 82.55%);
    gap: 2rem;
}

.footer__FiveRows
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 5rem;
    border-bottom: 1px solid #2d3c58;
}

.footer__FirstRows
{
    width: 30%;
}

.footer__FirstRows img 
{
    margin-bottom: 1rem;
}

.footer__FirstP
{
    font-size: 1.1rem;
    color: #4c5671;
    line-height: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #e1efff;
}

.footer__PayMethod
{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.payText
{
    font-size: 1.2rem;
    font-weight: 500;
    color: #2d3c58;
    padding: 1rem 0;
}

.payImgs
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.footer__SecondRows
{
    width: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer__SRowHeader
{
    font-size: 1.4rem;
    font-weight: 600;
    color: #4c5671;
    text-transform: capitalize;
}

.footer__SRowLinks ul
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer__SRowLinks li 
{
    padding: 0.5rem 0;
}

.footer__SRowLinks a 
{
    font-size: 1.05rem;
    color: #4c5671;
}

.footer__ThirdRow
{
    width: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer__FourthRow
{
    width: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer__FifthRow
{
    width: 30%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer__FifthSmTxt
{
    margin: 2rem 0;
    font-size: 1.1rem;
    color: #4c5671;
}

.footer__ContactBox
{
    background: #fff;
    border-radius: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

.footer__ContactBox input 
{
    border: none;
    outline: none;
    width: 80%;
    font-size: 1.03rem;
}

.footer__ArrowIcon
{
    width: 35px;
    height: 35px;
    background-color: #0774ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__ArrowIcon i 
{
    color: #fff;
    font-size: 1.1rem;
}

.footer__SocialMedia
{
    margin-top: 2rem;
}

.SocialTxt
{
    font-size: 1.3rem;
    font-weight: 700;
    color: #2d3c58;
    padding-bottom: 1rem;
}

.footer__SocialIcon__Container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.footer__SocialIcon__Container i 
{
    border: 1px solid #4c5671;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.footer__CopyRightTxt
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}